#post-content {
  /* display: flex;
  justify-content: center; */
  min-width: 300px;
  max-width: 700px;
  margin: 10px;
}

.user-info {
  display: flex;
}

.user-info > div {
  margin-left: 10px;
}

.user-data {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 4.5px;
  border-radius: 5px;
}

/* #post-content > hr {
  margin: 20px 0;
} */

.post-content {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.post-content h2 {
  margin: 0;
}
.post-content *:not(h2) {
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.create-comment-input {
  display: block;
  padding: 5px;
  width: 100%;
}

.create-comment-input + button[type="submit"] {
  width: calc(100% - 8px);
  margin: 2px 4px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.create-comment-form {
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 7px;
}

.comments .pagination-container {
  justify-content: center;
}

.comments .comment-head {
  display: flex;
  position: relative;
}
.comments .comment {
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
}

.comment img {
  width: 32px;
  height: auto;
}

.comment sup {
  margin-left: 10px;
  margin-top: 6px;
}

.c-content {
  margin: 8px 10px;
  font-size: smaller;
}

.expand-info {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.comment-info {
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 2px 7px;
  top: 0;
  right: 0;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.info-dialog {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: none;
  width: max-content;
}

.info-dialog.opened {
  display: block;
}

.c-content.edit {
  padding: 5px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  width: 95%;
  resize: none;
  font-size: large;
}

.ctool-edit,
.ctool-remove {
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  padding: 4px;
  &:hover {
    background-color: #aaaaaa4d;
  }
}

.ctool-remove {
  color: red;
}
